:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
   /* Para navegadores WebKit (Safari e Chrome) */
    -webkit-user-drag: none;
    pointer-events: none;  /* Também impede o clique e arrastar */  
}

*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita overflow horizontal */
}

body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    font-family: 'Impact', sans-serif;
  }

  @font-face {
    font-family: 'Impact';
    src: url('./assets/Fontes/impact.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  
  @font-face {
    font-family: 'Roboto';
    src: url('./assets/Fontes/Roboto.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }